body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 680px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 5px #ffffff;
}

.wolves-container {
    display: flex;
    overflow: hidden;
    height: 468px;
}

.under-wolves {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.quote-overflow {
    width: 310px;
    overflow: hidden;
}

.quote-container {
    display: flex;
    height: 20px;
    width: 2160px;
}

.quote {
    width: 540px;
    margin: 0px;
    white-space: nowrap;
}

.radio-buttons {
    width: 95px;
}